#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh ${@} --buildsystem cmake

override_dh_missing:
	dh_missing --fail-missing

override_dh_install:
	dh_install
	rm -rf debian/lxqt-themes/usr/share/lxqt/themes/system/
